* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #252424;
  color: #fff;
}

.App {
  margin: 26px auto;
  text-align: center;
}

.App .App--title {
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(15, 247, 255), rgb(0, 140, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.question--box {
  width: 70%;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(323px, 1fr));
  padding: 2rem;
  margin-top: 3rem;
  border-radius: 10px;
  background: linear-gradient(rgb(16, 24, 24), rgb(0, 0, 0));
}

.question--box .info--col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.question--box .info--col > h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.question--box .info--col .question {
  color: rgb(15, 247, 255);
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 1.4;
}

.question--box .btns--col {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding-left: 30px;
  border-left: 2px solid #353232;
}

.question--box .btns--col > .answerBtn {
  margin: 8px 0;
}

.answerBtn {
  background: transparent;
  color: white;
  font-size: 1rem;
  letter-spacing: 2px;
  border: 2px solid rgb(0, 144, 163);
  border-radius: 20px;
  padding: 0.7rem;
  cursor: pointer;
  transition: border-color, font-weight 250ms ease;
}

.answerBtn:hover {
  border-color: green;
  font-weight: 700;
}

.answerBtn.true {
  border-color: green;
}

.answerBtn.false {
  border-color: red;
}

.answerBtn:active,
.answerBtn:focus {
  border-radius: 20px;
  outline: none;
  border-color: none;
  font-size: 1.2rem;
  font-weight: 700;
}

.next--btn {
  position: relative;
  background: #00535e;
  color: white;
  width: 55%;
  font-size: 1rem;
  letter-spacing: 2px;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.next--btn::after {
  position: absolute;
  content: ">";
  font-size: 2rem;
  right: 5%;
  top: 14%;
}

.Loading {
  margin-top: 30%;
}

@media (max-width: 797px) {
  .App .App--title {
    font-size: 50px;
  }
  .question--box {
    width: 90%;
  }
  .question--box .info--col {
    text-align: center;
  }
  .question--box .btns--col {
    margin-top: 20px;
    padding-left: 0;
    border-left: none;
  }
}
